{% load static %}
<!DOCTYPE = html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Halaman Blog</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="icon" href="{% static "image/anya.webp" %}">
  </head>
  <body>
    <header>
      <img class="logo" src="{% static "image/logo.webp" %}" alt="logo">
        <nav>
          <ul class="nav_links">
            <li><a class="link" href="{% url 'index' %}">Home</a></li>
            <li><a class="link" href="{% url 'hello:index' %}">Blog</li>
            <li><a class="link" href="{% url 'about:index' %}">About</a></li>
          </ul>
    </header>
    <div class="tes">
      <h1 class="text">Hello World</h1>
      <img class="gambar" src="{% static "image/walk-anya.jpg" %}" alt="">
      <p>
        Hallo, Nama saya Bryan Samperura.
        <br />
        Ingin tau tentang saya? Bisa klik dibawah button dibawah ini.
      </p>
      <br />
      <center>
        <a href="https://linktr.ee/inskie" target="_blank" class="button"
          ><span>About Me ! </span></a>
      </center>
    </div>
    <div>
      {% block content-1 %}
      {% for v in post %}
        <div>
            <h1 class="text">Data Postingan</h1>
            <img class="gambar" src="{% static "image/anya.jpg" %}" alt="">
            <p>Title : {{ v.title }}</p>
            <p>Isi postingan : {{ v.body }}</p>
            <p>Email : {{ v.email }}</p>
            <p>Slug : {{ v.slug }}</p>
        </div>
    {% endfor %}
    {% endblock content-1 %}

{% comment %} 
FROM DJAGO
{% endcomment %}
      <a class='btn btn-success' href="{% url 'form' %}">Tambah</a> 
  <table class="table">
    <thead>
       <tr>
          <th scope="col">#</th>
          <th scope="col">Judul</th> 
          <th scope="col">Body</th> 
          <th scope="col">E-mail</th> 
          <th scope="col">Hapus</th> 
          <th scope="col">Update</th> 
      </tr>
  </thead>
    <tbody>
      {% for v in post %}
    <tr>
      <th_scope="row">{{ forloop.counter }}</th>
      <td>{{v.id}}</td>
      <td>{{v.title}}</td>
      <td>{{v.body}}</td> 
      <td>{{v.email}}</td>
      {% comment %} <td>{{v.email}}</td> {% endcomment %}
      <td><a class="btn btn-danger" href="{% url 'hello:delete' v.id %}"> Hapus</a></td>
      <td><a class="btn btn-warning" href="{% url 'update' v.id %}">Update </a></td>
    </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
  </body>
</html>
