{% load static %}
<!DOCTYPE = html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome Back !!!</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="icon" href="{% static "image/anya.jpg" %}">
  </head>
  <body>
    <div>
      <h1 class="text">Hello World</h1>
      <img src="{% static "image/anya.jpg" %}" alt="">
      <p>
        Hallo, Nama saya Bryan Samperura.
        <br />
        Ingin tau tentang saya? Bisa klik dibawah button dibawah ini.
      </p>
      <br />
      <center>
        <a href="https://linktr.ee/inskie" target="_blank" class="button"
          ><span>About Me ! </span></a>
          <h1 class="text1">Hi, This new project by 1204041_Bryan</h1>
          <h1 class="text2">This is a pictures of Django</h1>
          <h2>Django was create fall of 2023</h2>
          <h3>Testing Django</h3>
          <a href="https://linktr.ee/inskie" target="_blank"><span>Link ! </span></a>
      </center>
    </div>
  </body>
</html>
