{% load static %}
<!DOCTYPE = html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome Back !!!</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="icon" href="{% static "image/anya.jpg" %}">
  </head>
  <body>
    <div>
      <h1>Hello World</h1>
      <img src="{% static "image/anya.jpg" %}" alt="">
      <p>
        Hallo, Nama saya Bryan Samperura.
        <br />
        Ingin tau tentang saya? Bisa klik dibawah button dibawah ini.
      </p>
      <br />
      <center>
        <a href="https://linktr.ee/inskie" target="_blank" class="button"
          ><span>About Me ! </span></a
        >
      </center>
    </div>
  </body>
</html>
