{% load static %}
<!DOCTYPE = html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Form Anya</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}" />
    <link rel="icon" href="{% static "image/anya.webp" %}">
  </head>
  <body>
    <div class="center">
      <h1>{{ heading }}</h1>
      <center>
        
        </center>
      <form method="post">
        {% csrf_token %}
        <div class="txt_field">
          <input type="text" name="username" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="text"name="address" required>
          <span></span>
          <label>Alamat</label>
        </div>
        <input type="submit" value="Submit">
        <br>
        <br>
        <center>
        Menuju ke Halaman <a class="pass" href="{% url 'hello:index' %}">Blog</a>
        </center>
        <div class="signup_link">
            <h3>Hasil Inputan :</h3>
            <p>Nama : {{ username }}</p>
            <p>Alamat : {{ address }}</p>
          </div>
      </form>
    </div>
  </head>
  </body>
  </html>